:root{
    --title-color: #322153;
    --primary-color: #34cb79;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Roboto', sans-serif;
}
body{
    background: #88fc03;
    -webkit-font-smoothing: antialiased;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    font-family: ubuntu;
}
/* Comentarios
    Box model
    toda caixa tem largura altura preenchimento, cor, fundo, espaçamento,
    maneira vista pelo html(display)
*/
